/* Fixed sidebar style */
.sidenav {
    height: 100%;
    width: 300px; /* Adjust width for the sidebar */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E1E1E; /* Dark background */
    padding-top: 10px;
    color: #fff;
    overflow-x: hidden;
}

/* Sidebar headers and list styles */
.sidenav h1 {
    color: yellow;
}

.sidenav h2 {
    background-color: #333; /* Dark grey box background for headers */
    color: #f1f1f1; /* Text color */
    padding: 15px 20px; /* Padding inside the box */
    margin: 0; /* Remove default margin */
    width: 100%; /* Make sure it takes the full width of the sidebar */
    box-sizing: border-box; /* Include padding in the width calculation */
    border-bottom: 1px solid #444; /* Optional: border for separation */
}

.sidenav ul {
    list-style-type: none;
    padding-left: 16px;
    margin: 10px 0;
}

.sidenav ul li {
    padding: 10px 0;
    color: #818181;
}

.sidenav ul li:hover {
    color: #f1f1f1;
}

/* Main content style */
.main {
    margin-left: 260px; /* Same as the width of the sidebar */
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

#noteForm {
    margin: 0 auto;
    max-width: 600px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Original button color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
